body {
  background-color: #333;
}

.navigation {
  background-color: transparent;
  position: absolute;
  box-shadow: none;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.5),transparent);
  transition: background-color .2s;
}
.navigation > .container > ul > li:hover, .navigation > .container > ul > li.hover {
  color: white;
}
.navigation > .container > ul > li:active {
  color: #FF594C;
}
.navigation > .container > ul > li::before {
  background-color: white;
}
.navigation > .container > ul > li:not(:last-of-type)::after {
  background-color: rgba(255,255,255,0.5);
}
.navigation > .container > ul > li > ul {
  background-color: rgba(0,0,0,0.5);
  box-shadow: none;
}
.navigation > .container > .searchbar::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
@media (max-width: 600px) {
  .showNavLinks .navigation {
    background-color: rgba(0,0,0,0.3);
  }
}

.naturewrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.naturewrapper .naturehatesafari {
  width: 100vw;
  height: 56.25vw;
  position: relative;
}
.naturewrapper .natureback, .naturewrapper .naturetransition {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.natureloading .natureback {
  display: none;
}
.naturewrapper .naturetransition {
  display: none;
}
.natureloading .naturetransition {
  display: block;
}
.natureanimation .naturewrapper .naturetransition {
  display: block;
  animation: fadeout 0.5s forwards;
}
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
@media (max-aspect-ratio: 16/9) {
  .naturewrapper .naturehatesafari {
    min-width: calc(100vh / 0.5625);
    height: 100vh;
  }
  .naturewrapper .natureback, .naturewrapper .naturetransition {
    width: auto;
    height: 100%;
  }
}

.titlewrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlewrapper > .title {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  /*width: 100%;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;*/
  margin: 0;
}
.titlewrapper > .abovecontent {
  max-width: 1000px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.titlewrapper > .abovecontent > .imageselect {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  display: table;
}
.titlewrapper > .abovecontent > .imageselect > li {
  display: inline-block;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border: 3px solid white;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5), inset 0 0 10px rgba(0,0,0,0.5);
  transition: all .2s;
}
.titlewrapper > .abovecontent > .imageselect > li.active {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.titlewrapper > .abovecontent > .scrolldown {
  font-size: 40px;
  margin: 0 auto;
  display: table;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  animation: indicatedown 1s infinite;
}
@keyframes indicatedown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  80% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

.content {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: auto;
}
.content .crisis {
  display: table;
  margin: 0 auto;
}
.content .carousel {
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
}
@media (max-width: 1000px) {
  .content {
    border-radius: 0;
  }
}

.news {
  border-radius: 0;
  background-color: rgba(0,0,0,0.7);
  box-shadow: none;
  min-height: 300px;
  color: white;
  display: flex;
}
.news > div {
  flex: 1 1 0;
  padding: 20px;
}
@media (max-width: 700px) {
  .news {
    display: block;
  }
}
