html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  line-height: 1;
  background-color: #F4F4F4;
  font-family: 'Raleway', sans-serif;
  font-size: 0;
}
input, button, select, textarea, a {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
:focus {
  outline: none; /* need to make our own focus effects thus */
}

/* DESIGN INSPIRED/BASED OFF/STOLEN DE http://cssmenumaker.com/menu/simple-responsive-menu */
.navigation {
  background-color: #FF594C;
  /*height: 40px;*/
  width: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  position: relative;
  z-index: 10;
}
.navigation a {
  text-decoration: none;
}
.navigation > .container {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}
.navigation > .container > ul {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 1000px;
  transition: all .3s;
  top: 0;
}
.showSearch .navigation > .container > ul {
  top: -55px;
  opacity: 0;
  pointer-events: none;
}
.navigation > .container > ul > li {
  font-size: 15px;
  height: 15px;
  display: inline-block;
  color: white;
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.navigation > .container > ul > li:hover, .navigation > .container > ul > li.hover {
  color: #333;
}
.navigation > .container > ul > li:active {
  color: white;
}
.navigation > .container > ul > li::before {
  content: '';
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: all .3s;
  z-index: -1;
}
.navigation > .container > ul > li:hover::before, .navigation > .container > ul > li.hover::before {
  height: 5px;
}
.navigation > .container > ul > li:active::before {
  height: 100%;
}
.navigation > .container > ul > li:not(:last-of-type)::after {
  content: '';
  background-color: rgba(255,255,255,0.2);
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  margin-right: -2.5px;
  transform: rotate(45deg);
}
.navigation > .container > ul > li > ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 5px 0;
  background-color: #333;
  transform-origin: 50% 0;
  transform: perspective(500px) rotateX(-90deg);
  pointer-events: none;
  min-width: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  transition: transform .3s;
}
.navigation > .container > ul > li:hover > ul, .navigation > .container > ul > li.hover > ul {
  transform: perspective(500px) rotateX(0deg);
  pointer-events: all;
  transition: transform .3s cubic-bezier(0,1.5,1,1);
}
.navigation > .container > ul > li > ul > li {
  padding: 10px 20px;
  color: white;
  font-weight: normal;
  opacity: 0.7;
  white-space: nowrap;
}
.navigation > .container > ul > li > ul > li:hover, .navigation > .container > ul > li > ul > li.hover {
  opacity: 1;
}
.navigation > .container > .menu {
  display: none;
  color: white;
  padding: 10px;
  font-size: 35px;
}
.navigation > .container > .search, .navigation > .container > .login {
  color: white;
  padding: 15px;
  font-size: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}
.navigation > .container > .search {
  right: 55px;
}
.navigation > .container > .searchbar {
  position: absolute;
  top: 55px;
  left: 0;
  font-size: 25px;
  padding: 15px;
  right: 0;
  background: none;
  border: none;
  height: 55px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  z-index: 10;
  color: white;
  width: calc(100% - 110px);
}
.navigation > .container > .searchbar::-webkit-input-placeholder {
  color: rgba(255,255,255,0.3);
}
.showSearch .navigation > .container > .searchbar {
  opacity: 1;
  pointer-events: all;
  top: 0;
}
@media (max-width: 790px) {
  .navigation > .container > .menu {
    display: inline-block;
  }
  .navigation > .container > ul {
    max-height: 0;
    width: 100%;
    overflow-y: hidden;
  }
  .navigation > .container > ul > li {
    display: block;
    height: auto;
  }
  .navigation > .container > ul > li::before, .navigation > .container > ul > li::after {
    display: none;
  }
  .navigation > .container > ul > li > ul {
    position: static;
    max-height: 0;
    overflow-y: hidden;
    transition: all .3s linear;
    transform: none;
    margin-top: 0;
    padding: 0;
  }
  .navigation > .container > ul > li:hover > ul, .navigation > .container > ul > li.hover > ul {
    max-height: 100vh;
    transition: all .3s linear;
    transform: none;
    margin-top: 20px;
    padding: 5px 0;
  }
  .showNavLinks .navigation > .container > ul {
    max-height: 100vh;
  }
  .navigation > .container > .search, .navigation > .container > .login {
    padding: 10px;
    font-size: 35px;
  }
  .navigation > .container > .searchbar {
    left: 55px;
    width: calc(100% - 165px);
  }
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  min-height: calc(100vh - 55px);
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.footer {
  background-color: #212121;
  width: 100%;
  padding: 20px 0;
  color: #ddd;
}
.footer .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}
.footer .container .address {
  flex: none;
}
.footer .container div {
  flex: auto;
  font-size: 16px;
  padding: 20px;
}
.footer .container div span, .footer .container div a, .footer .container div strong {
  display: block;
  margin: 5px 0;
}
.footer .container div strong {
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.footer a {
  text-decoration: none;
  transition: color .1s;
}
.footer a:hover, .footer a:focus {
  color: #FF594C;
}
.footer .disclaimer {
  max-width: 500px;
  margin: 0 auto;
  font-size: 8px;
  text-align: center;
  display: block;
  color: rgba(255,255,255,0.7);
}
.footer .social {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.footer .social li {
  display: inline-block;
}
@media (max-width: 700px) {
  .footer .container {
    display: block;
  }
  .footer .container div {
    font-size: 24px;
    text-align: center;
  }
}
