<!DOCTYPE html>
<html>
  <head>
    <title>Template Design - Gunn High School</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="t01_notcontent.css">
    <link rel="stylesheet" href="t01_content.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="t01.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="navigation">
      <div class="container">
        <i class="material-icons menu">menu</i>
        <i class="material-icons search">search</i>
        <input type="search" placeholder="Search" class="searchbar">
        <ul>
          <li>About<ul>
            <li>We all like maps!</li>
            <li>Map</li>
            <li>Map</li>
            <li>Map</li>
          </ul></li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <h1>Sample heading 1</h1>
      <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Sed felis purus, malesuada sed urna a, ultricies ultrices lectus. Vestibulum semper lacinia erat, eu hendrerit eros. Quisque lobortis risus risus, at commodo purus efficitur ut. Donec sodales ligula quis tempus fermentum. Praesent auctor risus ut ligula interdum suscipit. Etiam a ligula ut justo feugiat vestibulum quis volutpat urna.</p>
      <p>In hac habitasse platea dictumst. Pellentesque elementum mauris eget lacus aliquet, at porttitor ex commodo. Cras mollis massa magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque ex in mi ornare dapibus. Nunc tortor felis, suscipit eu quam eget, viverra interdum purus. Donec ullamcorper dictum risus et finibus. Quisque semper felis orci, a interdum urna mattis vitae.</p>
      <h2>Sample heading 2</h2>
      <p>In vitae aliquet quam. Donec pharetra varius ante a posuere. Pellentesque id nunc at diam ullamcorper iaculis. Aliquam porta ultricies diam. Mauris condimentum nisl risus, at placerat nulla fringilla sit amet. Sed velit neque, convallis in tellus eu, bibendum faucibus arcu. Donec vitae augue non enim vehicula dapibus at in eros. Mauris ac blandit urna, et tempus elit. Quisque sit amet dignissim lacus. Etiam tincidunt pellentesque commodo. Cras id ipsum accumsan, vulputate nisl ac, ultrices nulla. Praesent finibus bibendum dolor mattis imperdiet. Mauris ultrices commodo tempus. Aenean dapibus pulvinar placerat. Donec semper odio eu turpis egestas vehicula. Aliquam sit amet magna consequat, congue orci et, dictum dui.</p>
      <img src="http://gunn.pausd.org/sites/default/files/styles/spotlight_front_mini/public/oa_spotlight_content/image/Gunn%20Hallways.jpg" alt="Gunn Image">
    </div>
    <div class="footer">
      <div class="container">
        <div class="address">
          <strong>Henry M. Gunn High School</strong>
          <span>780 Arastradero Rd</span>
          <span>Palo Alto, California 94306</span>
          <span>Phone: (650) 354-8200</span>
          <span>Fax: (650) 493-7801</span>
          <span>Attendance: (650) 354-8210</span>
        </div>
        <div>
          <strong>About</strong>
          <a href="http://gunn.pausd.org/bell-schedule">Bell Schedule</a>
          <a href="http://gunn.pausd.org/bell-schedule">You Didn't Memorize It</a>
          <a href="http://gunn.pausd.org/bell-schedule">Liar</a>
          <a href="http://gunn.pausd.org/bell-schedule">Stop It</a>
          <a href="http://gunn.pausd.org/bell-schedule">No You Didn't</a>
        </div>
        <div>
          <strong>More Bell Schedule</strong>
          <a href="http://gunn.pausd.org/bell-schedule">Bell Schedule</a>
          <a href="http://gunn.pausd.org/bell-schedule">You Didn't Memorize It</a>
          <a href="http://gunn.pausd.org/bell-schedule">Liar</a>
          <a href="http://gunn.pausd.org/bell-schedule">Stop It</a>
          <a href="http://gunn.pausd.org/bell-schedule">No You Didn't</a>
        </div>
      </div>
    </div>
  </body>
</html>
