<!DOCTYPE html>
<html>
  <head>
    <title>Template Design 1 - Gunn High School</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/notcontent.css">
    <link rel="stylesheet" href="../css/content.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <div class="navigation">
      <div class="container">
        <i class="material-icons menu">menu</i>
        <i class="material-icons search">search</i>
        <i class="material-icons login"><a href="#">lock_open</a></i>
        <input type="search" placeholder="Search" class="searchbar">
        <ul></ul>
      </div>
    </div>
    <div class="content">
      <h1>Sample heading 1</h1>
      <p>All empires will contain their own laws, rules, decisions, and form of government. This constitution shall state the universal laws applying to all players and empires (<a href="#">INCLUDING THE CREATOR</a>). The minimum shall be five meets for taxes and free supplies for survival or ten meets. Taxes are five meets per week and automatically paid to the Creator on Fridays. Taxes ᴅᴏ ɴᴏᴛ have to be paid if others/the empire is willing to pay it for you.</p>
      <hr>
      <p>If you are in bankruptcy, you are forbidden to spend except for taxes although you may continue earning money. All official meetings are to be met in the New Anoscope Meeting Room and all official court cases are to be held in the Aerocity Court. Meets in item form shall be emeralds. Bankruptcy ᴡɪʟʟ ɴᴏᴛ prevent taxes from being paid. In the scenario that one wishes to take a leave, that person must declare to the owner of the server that they are taking a leave, communicated in real life.</p>
      <h2>Sample heading 2</h2>
      <p>During this period, the person will not earn or lose money including taxes. The leave must be for over 2 weeks and the person must declare when they come back before playing in real life. After this, you cannot leave for one month. The <a href="#">destruction of buildings</a> is strictly prohibited unless confirmed by all builders of the building. If one finds their buildings destroyed, the have the right to sue players you suspect of griefing.</p>
      <img src="http://gunn.pausd.org/sites/default/files/styles/spotlight_front_mini/public/oa_spotlight_content/image/Gunn%20Hallways.jpg" alt="Gunn Image">
      <h2>Heading 2 otra vez</h2>
      <p>If one wishes to file a lawsuit against another person, the person must declare the court case and the date of the case. If you can’t make it or are unsure, please declare of you will be fined 25 meets. The abbreviation for meets is “me.,” including a period.</p>
      <ul>
        <li>Trump</li>
        <li>Hillary</li>
        <li>both</li>
      </ul>
      <p>Mice, mouse, sheep, happy shep.</p>
      <ol>
        <li>unu</li>
        <li>du</li>
        <li>tri</li>
      </ol>
      <table>
        <tr>
          <th>One</th>
          <th>sheep are better</th>
        </tr>
        <tr>
          <td>giggles</td>
          <td>two</td>
        </tr>
      </table>
      <label>Wow!</label><input type="text" placeholder="Wow!" value="HI"><select>
        <option>uno</option>
        <option>dos</option>
        <option>tres</option>
      </select>
      <textarea>Hello!</textarea>
      <button type="button">Sup</button>
    </div>
    <div class="footer">
      <div class="container">
        <div class="address">
          <strong>Henry M. Gunn High School</strong>
          <a href="https://www.google.com/maps/place/Henry+M+Gunn+High+School/"><span>780 Arastradero Rd</span>
          <span>Palo Alto, California 94306</span></a>
          <span>Phone: (650) 354-8200</span>
          <span>Fax: (650) 493-7801</span>
          <span>Attendance: (650) 354-8210</span>
        </div>
      </div>
      <span class="disclaimer">This is not the official <a href="http://gunn.pausd.org/">Gunn website</a>; it's a redesign of it which is <a href="https://github.com/Orbiit/gunn-remake">open source here</a>.</span>
    </div>
    <script src="../js/touchy.js" charset="utf-8"></script>
    <script src="../js/links.js" charset="utf-8"></script>
  </body>
</html>
