<!DOCTYPE html>
<html>
  <head>
    <title>Template Design - Gunn High School</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="t01_notcontent.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <div class="navigation">
      <ul>
        <li>About</li>
        <li>Staff</li>
        <li>Staff</li>
        <li>Staff</li>
        <li>Staff</li>
        <li>Staff</li>
      </ul>
    </div>
    <div class="content">

    </div>
    <div class="footer">
      <div class="container">
        <div class="address">
          <strong>Henry M. Gunn High School</strong>
          <span>780 Arastradero Rd</span>
          <span>Palo Alto, California 94306</span>
          <span>Phone: (650) 354-8200</span>
          <span>Fax: (650) 493-7801</span>
          <span>Attendance: (650) 354-8210</span>
        </div>
        <div>
          <strong>About</strong>
          <a href="http://gunn.pausd.org/bell-schedule">Bell Schedule</a>
          <a href="http://gunn.pausd.org/bell-schedule">You Didn't Memorize It</a>
          <a href="http://gunn.pausd.org/bell-schedule">Liar</a>
          <a href="http://gunn.pausd.org/bell-schedule">Stop It</a>
          <a href="http://gunn.pausd.org/bell-schedule">No You Didn't</a>
        </div>
        <div>
          <strong>More Bell Schedule</strong>
          <a href="http://gunn.pausd.org/bell-schedule">Bell Schedule</a>
          <a href="http://gunn.pausd.org/bell-schedule">You Didn't Memorize It</a>
          <a href="http://gunn.pausd.org/bell-schedule">Liar</a>
          <a href="http://gunn.pausd.org/bell-schedule">Stop It</a>
          <a href="http://gunn.pausd.org/bell-schedule">No You Didn't</a>
        </div>
      </div>
    </div>
  </body>
</html>
