.content {
  font-size: 16px;
}
.content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin: 0.5em 0;
  border-bottom: 0.03em solid rgba(0,0,0,0.15);
  padding-bottom: 0.3em;
}
.content h1:first-child {
  margin-top: 0;
}
.content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0.5em 0;
}
.content p {
  margin: 0.5em 0;
  line-height: 1.15;
}
.content a {
  color: #FF594C;
  text-decoration: none;
  border-radius: 2px;
  transition: all .2s;
  position: relative;
}
.content a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FF594C;
  height: 1px;
  width: 0;
  transition: all .2s;
}
.content a:hover::before {
  width: 100%;
}
.content a:active {
  color: white;
  background-color: #FF594C;
}
.content a:active::before {
  opacity: 0;
}
.content img {
  border-radius: 5px;
  max-width: 100%;
}
