html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  line-height: 1;
  background-color: #F4F4F4;
  font-family: 'Raleway', sans-serif;
  font-size: 0;
}
input, button, select, textarea, a {
  font: inherit;
  color: inherit;
}

/* DESIGN INSPIRED/BASED OFF/STOLEN DE http://cssmenumaker.com/menu/simple-responsive-menu */
.navigation {
  background-color: #FF594C;
  /*height: 40px;*/
  width: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  position: relative;
  z-index: 10;
}
.navigation > ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 1000px;
}
.navigation > ul > li {
  font-size: 15px;
  height: 15px;
  display: inline-block;
  color: white;
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.navigation > ul > li:hover {
  color: #333;
  font-weight: bold;
}
.navigation > ul > li:active {
  color: white;
}
.navigation > ul > li::before {
  content: '';
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: all .3s;
  z-index: -1;
}
.navigation > ul > li:hover::before {
  height: 5px;
}
.navigation > ul > li:active::before {
  height: 100%;
}
.navigation > ul > li:not(:last-of-type)::after {
  content: '';
  background-color: rgba(255,255,255,0.2);
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  margin-right: -2.5px;
  transform: rotate(45deg);
}
.navigation > ul > li > ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 5px 0;
  background-color: #333;
  transform-origin: 50% 0;
  transform: perspective(500px) rotateX(-90deg);
  pointer-events: none;
  min-width: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  transition: transform .3s;
}
.navigation > ul > li:hover > ul {
  transform: perspective(500px) rotateX(0deg);
  pointer-events: all;
  transition: transform .3s cubic-bezier(0,1.5,1,1);
}
.navigation > ul > li > ul > li {
  padding: 10px 20px;
  color: white;
  font-weight: normal;
  opacity: 0.7;
  white-space: nowrap;
}
.navigation > ul > li > ul > li:hover {
  opacity: 1;
}
.navigation > .menu {
  display: none;
  color: white;
  padding: 10px;
  font-size: 35px;
}
.navigation > .search {
  color: white;
  padding: 15px;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.navigation > .searchbar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  padding: 15px;
  right: 0;
  background: none;
  border: none;
}
.showSearch .navigation > .searchbar {
  display: block;
}
@media (max-width: 600px) {
  .navigation > .menu {
    display: inline-block;
  }
  .navigation > ul {
    display: none;
    width: 100%;
  }
  .navigation > ul > li {
    display: block;
    height: auto;
  }
  .navigation > ul > li::before, .navigation > ul > li::after {
    display: none;
  }
  .navigation > ul > li > ul {
    position: static;
    margin-top: 20px;
    display: none;
  }
  .navigation > ul > li:hover > ul {
    display: block;
  }
  .showNavLinks .navigation > ul {
    display: block;
  }
  .navigation > .search {
    padding: 10px;
    font-size: 35px;
  }
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  min-height: calc(100vh - 55px);
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.footer {
  background-color: #212121;
  width: 100%;
  padding: 20px 0;
  color: #ddd;
}
.footer .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}
.footer .container .address {
  flex: none;
}
.footer .container div {
  flex: auto;
  font-size: 16px;
  padding: 20px;
}
.footer .container div span, .footer .container div a, .footer .container div strong {
  display: block;
  margin: 5px 0;
}
.footer .container div strong {
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.footer .container div a {
  text-decoration: none;
  transition: all .2s;
}
.footer .container div a:hover {
  color: #FF594C;
}
@media (max-width: 700px) {
  .footer .container {
    display: block;
  }
  .footer .container div {
    font-size: 24px;
    text-align: center;
  }
}
