<!DOCTYPE html>
<html>
  <head>
    <title>Template Design - Gunn High School</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="t02.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
     <div class="content">
      <div class="content-text">
    <h1>
      TSET TITLE
    </h1>
    <p id="something">
        HELLOS
     </p>
     <p id="main-content">
       TSET CONTETNESFVHEOSIHFOIDSHFOISHDFOISDHOFIHDSOFHISDHFOISDHFOISDHFAOFHAHAHHAHUFHOEUHFSOG:HOS
     </p>
     <p id="img">
       <img src="http://gunn.pausd.org/sites/default/files/styles/spotlight_front_mini/public/oa_spotlight_content/image/Gunn_High_School_May_2011.jpg?itok=TG7PG6zX" alt="Campus Image">
     </p>
      </div>
     </div>
  </body>
</html>
