.navigation {
  background-color: transparent;
  position: absolute;
  box-shadow: none;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.5),transparent);
  transition: background-color .2s;
}
.navigation > .container > ul > li:hover, .navigation > .container > ul > li.hover {
  color: white;
  font-weight: normal;
}
.navigation > .container > ul > li:active {
  color: #FF594C;
}
.navigation > .container > ul > li::before {
  background-color: white;
}
.navigation > .container > ul > li:not(:last-of-type)::after {
  background-color: rgba(255,255,255,0.5);
}
.navigation > .container > ul > li > ul {
  background-color: rgba(0,0,0,0.5);
  box-shadow: none;
}
.navigation > .container > .searchbar::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
@media (max-width: 600px) {
  .showNavLinks .navigation {
    background-color: rgba(0,0,0,0.3);
  }
}

.naturewrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.naturewrapper .natureback {
  width: 100%;
}
@media (max-aspect-ratio: 16/9) {
  .naturewrapper .natureback {
    width: auto;
    height: 100vh;
  }
}

.titlewrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlewrapper > .title {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  /*width: 100%;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;*/
  margin: 0;
}
.titlewrapper > .abovecontent {
  max-width: 1000px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.titlewrapper > .abovecontent > a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 10px;
}

.content {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (max-width: 1000px) {
  .content {
    border-radius: 0;
  }
}
