<!DOCTYPE html>
<html>
  <head>
    <title>Template Design 4 - Gunn High School</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="notcontent.css">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="t04.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <div class="naturewrapper">
      <!-- <img src="https://source.unsplash.com/featured/1600x900/?nature" alt="nature." class="natureback"> -->
      <img alt="nature." class="natureback">
      <canvas class="naturetransition" width="1600" height="900"></canvas>
      <!--
        https://images.unsplash.com/reserve/yapfjxRqy2d2rGRNc2yQ_zavrsnica-9-indie.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=e69698de60f5688845748eb6579cf59a
        https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=ad26590bd0d6a0165892fb6485976020
        https://images.unsplash.com/37/IHLjdHdzSvi0rgUMMlSK_TE3_0286.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=c5ccdbe2d0d2fa436724e2366f32661c
        https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=4ab7d1b6931e19fa21a31b71ed3fbbcb
      -->
    </div>
    <div class="navigation">
      <div class="container">
        <i class="material-icons menu">menu</i>
        <i class="material-icons search">search</i>
        <i class="material-icons login">lock_open</i>
        <input type="search" placeholder="Search" class="searchbar">
        <ul>
          <li>About<ul>
            <li>We all like maps!</li>
            <li>Map</li>
            <li>Map</li>
            <li>Map</li>
          </ul></li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
        </ul>
      </div>
    </div>
    <div class="titlewrapper">
      <h1 class="title">Gunn High School</h1>
      <div class="abovecontent">
        <ul class="imageselect"></ul>
      </div>
    </div>
    <div class="content">
      <h1>Sample heading 1</h1>
      <p>All empires will contain their own laws, rules, decisions, and form of government. This constitution shall state the universal laws applying to all players and empires (<a href="#">INCLUDING THE CREATOR</a>). The minimum shall be five meets for taxes and free supplies for survival or ten meets. Taxes are five meets per week and automatically paid to the Creator on Fridays. Taxes ᴅᴏ ɴᴏᴛ have to be paid if others/the empire is willing to pay it for you.</p>
    </div>
    <div class="footer">
      <div class="container">
        <div class="address">
          <strong>Henry M. Gunn High School</strong>
          <span>780 Arastradero Rd</span>
          <span>Palo Alto, California 94306</span>
          <span>Phone: (650) 354-8200</span>
          <span>Fax: (650) 493-7801</span>
          <span>Attendance: (650) 354-8210</span>
        </div>
        <div>
          <strong>About</strong>
          <a href="http://gunn.pausd.org/bell-schedule">Bell Schedule</a>
          <a href="http://gunn.pausd.org/bell-schedule">You Didn't Memorize It</a>
          <a href="http://gunn.pausd.org/bell-schedule">Liar</a>
          <a href="http://gunn.pausd.org/bell-schedule">Stop It</a>
          <a href="http://gunn.pausd.org/bell-schedule">No You Didn't</a>
        </div>
        <div>
          <strong>More Bell Schedule</strong>
          <a href="http://gunn.pausd.org/bell-schedule">Bell Schedule</a>
          <a href="http://gunn.pausd.org/bell-schedule">You Didn't Memorize It</a>
          <a href="http://gunn.pausd.org/bell-schedule">Liar</a>
          <a href="http://gunn.pausd.org/bell-schedule">Stop It</a>
          <a href="http://gunn.pausd.org/bell-schedule">No You Didn't</a>
        </div>
      </div>
      <span class="disclaimer">This is not the official <a href="http://gunn.pausd.org/">Gunn website</a>; it's a redesign of it which is <a href="https://github.com/Orbiit/gunn-remake">open source here</a>.</span>
    </div>
    <script src="touchy.js" charset="utf-8"></script>
    <script src="t04.js" charset="utf-8"></script>
  </body>
</html>
