<!DOCTYPE html>
<html>
  <head>
    <title>Template Design 5 - Gunn High School</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="t05.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <div class="space-wrapper">
      <img src="https://source.unsplash.com/featured/1920x1080/?landscape" alt="space." class="space-background">
    </div>
    <div class="navigation">
      <div class="container">
        <i class="material-icons menu">menu</i>
        <i class="material-icons search">search</i>
        <input type="search" placeholder="Search" class="searchbar">
        <ul>
          <li>About<ul>
            <li>We all like maps!</li>
            <li>Map</li>
            <li>Map</li>
            <li>Map</li>
          </ul></li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
          <li>Staff</li>
          <li class="log-in">Log In</li>
        </ul>
      </div>
    </div>
    <div class="titlewrapper">
      <h1 class="title">Gunn High School</h1>
      <div class="abovecontent">
        <!--<a href="#">log in</a>!-->x
      </div>
    </div>
    <div class="content">
      <h1>Sample heading 1</h1>
      <p>All empires will contain their own laws, rules, decisions, and form of government. This constitution shall state the universal laws applying to all players and empires (<a href="#">INCLUDING THE CREATOR</a>). The minimum shall be five meets for taxes and free supplies for survival or ten meets. Taxes are five meets per week and automatically paid to the Creator on Fridays. Taxes ᴅᴏ ɴᴏᴛ have to be paid if others/the empire is willing to pay it for you.</p>
    </div>
    <div class="footer">
      <div class="container">
        <div class="address">
          <strong>Henry M. Gunn High School</strong>
          <span>780 Arastradero Rd</span>
          <span>Palo Alto, California 94306</span>
          <span>Phone: (650) 354-8200</span>
          <span>Fax: (650) 493-7801</span>
          <span>Attendance: (650) 354-8210</span>
        </div>
        <div>
          <strong>About</strong>
          <a href="http://gunn.pausd.org/bell-schedule">Bell Schedule</a>
          <a href="http://gunn.pausd.org/bell-schedule">You Didn't Memorize It</a>
          <a href="http://gunn.pausd.org/bell-schedule">Liar</a>
          <a href="http://gunn.pausd.org/bell-schedule">Stop It</a>
          <a href="http://gunn.pausd.org/bell-schedule">No You Didn't</a>
        </div>
        <div>
          <strong>More Bell Schedule</strong>
          <a href="http://gunn.pausd.org/bell-schedule">Bell Schedule</a>
          <a href="http://gunn.pausd.org/bell-schedule">You Didn't Memorize It</a>
          <a href="http://gunn.pausd.org/bell-schedule">Liar</a>
          <a href="http://gunn.pausd.org/bell-schedule">Stop It</a>
          <a href="http://gunn.pausd.org/bell-schedule">No You Didn't</a>
        </div>
      </div>
    </div>
    <script src="../js/touchy.js" charset="utf-8"></script>
  </body>
</html>
